table{
    border: solid 1px black;
    border-collapse: collapse;
    width: 90%;
    height: 7%;
}
th{
    border: solid 1px black;
    text-align: center;
}
td{
    border: solid 1px black;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover,
ul li a:active{
    background-color: #111111;
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}