table{
    border: solid 1px black;
    border-collapse: collapse;
    width: 90%;
    height: 7%;
}
th{
    border: solid 1px black;
    text-align: center;
}
td{
    border: solid 1px black;
    text-align: center;
}